body {
    background: white !important;
}
page {
    background: white !important;
    display: block !important;
    margin: 0 auto !important;
    margin-bottom: 0 !important;

    width: 21cm !important;
    height: 28cm !important;
}
@media print {
    body, page {
        margin: 0cm !important;
        box-shadow: 0 !important;
    }
}